<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Connect4</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>CONNECT4</h1>
        </header>
        
        <section id="game-board">
            <!-- Aqui será renderizado o tabuleiro e as peças do jogo -->
        </section>

        <div id="name-input">
            <label for="player-name">Digite seu nome:</label>
            <input type="text" id="player-name" name="player-name">
            <button onclick="submitName()">Enviar Nome</button>
        </div>
    </div>

    <input type="hidden" id="current-player" value="1">

    <script>
        function submitName() {
            var playerName = document.getElementById("player-name").value;
            var currentPlayer = parseInt(document.getElementById("current-player").value);

            fetch('/submit_name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'jogador_atual': currentPlayer,
                    'nome_jogador': playerName,
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);

                if (data.status === 'success') {
                    document.getElementById("current-player").value = data.jogador_atual;

                    // Se ambos os jogadores forneceram seus nomes, exiba o tabuleiro
                    if (data.jogador_atual === 1) {
                        document.getElementById("game-board").style.display = "block";
                        document.getElementById("name-input").style.display = "none";
                    }
                } else if (data.status === 'wait') {
                    document.getElementById("current-player").value = data.jogador_atual;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function updateBoard(data) {
    var gameBoard = document.getElementById("game-board");
    gameBoard.innerHTML = "";  // Limpa o conteúdo atual do tabuleiro

    // Itera sobre os dados do tabuleiro e renderiza as peças
    for (var row = 0; row < data.tabuleiro.length; row++) {
        for (var col = 0; col < data.tabuleiro[row].length; col++) {
            var piece = data.tabuleiro[row][col];
            var pieceElement = document.createElement("div");
            pieceElement.classList.add("cell");

            if (piece === 1) {
                pieceElement.classList.add("player1-piece");
            } else if (piece === 2) {
                pieceElement.classList.add("player2-piece");
            }

            gameBoard.appendChild(pieceElement);
        }
    }
}

    </script>
</body>
</html>
